<!--h5>Login</h5>

<div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="usuario.nome" id="usuario" type="text" class="validate" name="nome">
      <label class="active" for="usuario">Usuário</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="usuario.senha" id="senha" type="password" class="validate" name="senha">
      <label class="active" for="senha">Senha</label>
    </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input  id="texto" type="text" name="texto" [(ngModel)]="mensagem">
    <label class="active" for="texto">Mensagem</label>
  </div>
</div>

<button class="btn waves-effect waves-light" 
    type="submit" name="action" (click)="getUsuario(usuario.nome, usuario.senha)">
    Login
    <i class="material-icons right">send</i>
  </button!-->
  <div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div>
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="getUsuario(UserName.value,Password.value)">
  
  <div class="row">
     <div class="input-field col s12">
      <mat-form-field>
        <input matInput type="text" #UserName ngModel name="UserName" placeholder="Username" required>
      </mat-form-field> 
     </div>
   </div>
   
   <div class="row">
      <div class="input-field col s12">
        <mat-form-field>
          <input matInput type="password" #Password ngModel name="Password" placeholder="Password" required>
        </mat-form-field> 
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" (click)="getUsuario(UserName.value,Password.value)" class="btn-large btn-submit" type="button">Login</button>
        </div>
      </div>
</form>